html {
    color: red;
}

body {
    padding: 0;
    margin: 0;
}

.grids-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-container {
    grid-row: 1/2;
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.grid-container.oponent {
    grid-column: 2/3;
}

.grid-container.player {
    grid-column: 1/2;
}

.row {
    flex: 1;
    gap: 1px;
    width: 100%;
    display: flex;
}

.cell {
    border: 1px solid black;
    flex: 1;
}

.cell.oponent:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.cell.hit {
    background-color: rgb(201, 45, 45);
}

.cell.miss {
    background-color: gray;
}